<template>
  <v-flex xs12>
    <v-card flat>
      <v-tabs 
        fixed-tabs
        show-arrows
        slider-color="yellow">
        <v-tab ripple v-for="item in items" :key="item.index">
        {{ item.title }}
        </v-tab>
        <v-tab-item  v-for="item in items" :key="item.index" height="400px">
          <v-flex v-if="item.title === 'record'">
            <record></record>
          </v-flex>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  data () {
    return {
      items: [
        {
          title: 'record'
        }
      ]
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>    