  <template>
    <v-flex xs12>
      <v-container grid-list-md>
        <v-layout row wrap
          class="mt-5 justify-center align-left">
          <v-flex xs12 lg6 class="mb-2">
            <v-card :hover="!hover" class="ml-3 mx-4">
              <v-toolbar color="white">
                <v-icon class="black--text">search</v-icon>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                  <v-btn flat>Search</v-btn>
                </v-toolbar-items>
              </v-toolbar>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-layout row wrap>
              <v-flex xs12 lg6 class="mb-2 mt-5">
                <v-card :hover="!hover" class="ml-3 mx-4">
                  <v-card-title>INVENTORY</v-card-title>
                  <bar-chart
                    :chart-data="barChartData"
                    :height="250">
                  </bar-chart>
                </v-card>
              </v-flex>
              <v-flex xs12 lg6 class="mb-2 mt-5 pl-5">
                  <v-card flat class="ml-3 mx-3">
                    <v-select
                      :items="dropdown_font"
                      overflow
                      label="Year"
                      target="#dropdown-example"
                    ></v-select>
                  </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
<!-- kim output -->
          <v-flex xs12 class="mt-2 mb-3 pl-2 pr-2">
            <v-card class="title teal--text pl-2"><br>
              <v-card-title class="title teal--text pl-2">Statistics</v-card-title>
              <v-container>
                <v-layout row wrap justify-center>
                  <v-flex xs12
                    v-for="(card, index) in cards"
                    v-bind="{ [`lg${card.flex}`]: true }"
                    :key="card.index"
                    class="mt-2 mb-3 pl-2 pr-2">
                    <v-card
                      :color="card.color"
                      :hover="!hover"
                      class="card_view">
                      <v-layout style="height: 170px;">                    
                        <v-flex xs7>
                          <v-card-title
                            class="title black--text pl-2" >{{ card.title }}</v-card-title>
                          <v-card-text class="pb-5">{{ card.text }}</v-card-text>
                        </v-flex>
                        <v-flex v-show="card.type === 'icon'" class="pt-3 pl-2" >
                          <v-icon style="font-size: 90px;">
                            monetization_on
                          </v-icon>
                      </v-flex>
                        <v-flex v-show="card.type === 'icon1'" class="pt-3 pl-2" >
                          <v-icon style="font-size: 90px;">
                            attach_money
                          </v-icon>
                      </v-flex>
                        <v-flex v-show="card.type === 'icon2'" class="pt-3 pl-2" >
                          <v-icon style="font-size: 90px;">
                            money_off
                          </v-icon>
                      </v-flex>
                        <v-flex v-show="card.type === 'icon3'" class="pt-3 pl-2" >
                          <v-icon style="font-size: 90px;">
                            money
                          </v-icon>
                      </v-flex>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex xs12>
            <v-footer height="auto">
              <v-card flat tile class="flex">
                <v-card-title class="teal white--text">
                  <strong class="subheading">Quick Links</strong>
                  <v-spacer></v-spacer>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'dashboard' })">Dashboard</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'sales' })">Sales</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'purchasing' })">Purchasing</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'inventory' })">Inventory</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'accounting' })">Accounting</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'reports' })">Reports</v-btn>
                  <v-btn class="teal white--text" flat @click="$router.push({ path:'apps' })">Apps</v-btn>
                </v-card-title>
                <v-card-text class="grey lighten-3">
                  <v-layout>
                    <v-flex
                      v-for="(col, i) in rows"
                      :key="i"
                      xs3
                    >
                      <span class="body-2" v-text="col.title.toUpperCase()"></span>
                      <div
                        v-for="(child, i) in col.children"
                        :key="i"
                        v-text="child"
                      ></div>
                    </v-flex>
                    <v-flex xs3 layout column>
                      <span class="body-2">CONTACT</span>
                      <div>
                        <v-icon size="18px" class="mr-3">fas fa-home</v-icon>
                        New York, NY 10012, US
                      </div>
                      <div>
                        <v-icon size="18px" class="mr-3">fas fa-envelope</v-icon>
                        info@example.com
                      </div>
                      <div>
                        <v-icon size="18px" class="mr-3">fas fa-phone</v-icon>
                        + 01 234 567 88
                      </div>
                      <div>
                        <v-icon size="18px" class="mr-3">fas fa-print</v-icon>
                        + 01 234 567 89
                      </div>
                    </v-flex>
                  </v-layout>
                </v-card-text>
                <v-card-actions class="grey lighten-2 justify-center">
                  &copy;2018 — <strong>Vuetify</strong>
                </v-card-actions>
              </v-card>
            </v-footer>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </template>
<script>
  export default {
    data () {
      return {
        picker: null,
        show: false,
        picker2: null,
        time: '11:15',
        hover: false,
        text_decoration: false,
        links: ['Dashboard', 'Sales', 'Purchashing', 'Inventory', 'Accounting', 'Reports', 'Apps'],
        dropdown_font: ['1999', '2000', '2001', '2002', '2001', '2002', '2003'],
        rows: [
          {
            title: 'Infosoft Studio',
            children: ['We are a multi-awarded IT company that specializes on programming, web development, web designs, application development, and social media marketing.']
          },
          {
            title: 'Products',
            children: ['MDBootstrap', 'MDWordPress', 'BrandFlow', 'Bootstrap Angular']
          },
          {
            title: 'Useful Links',
            children: ['Your account', 'Become an Affiliate', 'Shipping Rates', 'Helper']
          }
        ],
        cards: [
          {
            title: 'Total Earnings:',
            text: '$12, 123, 456.00',
            subtext: 'assets',
            type: 'icon',
            color: 'blue',
            flex: 3
          },
          {
            title: 'Revenue:',
            text: '$32, 456, 234.00',
            subtext: 'assets',
            type: 'icon1',
            color: 'orange',
            flex: 3
          },
          {
            title: 'Net Loss:',
            text: '$45, 056, 781.00',
            subtext: 'assets',
            type: 'icon2',
            color: 'red',
            flex: 3
          },
          {
            title: 'Gross Payment Volume:',
            text: '$15, 345, 564.00',
            subtext: 'assets',
            type: 'icon3',
            color: 'pink',
            flex: 3
          }
        ]
      }
    },
    computed: {
      barChartData: function () {
          // Transforms API data into the chart data format
        return {
          labels: ['Assets', 'Sales', 'Income', 'Expense', 'Rcvble', 'Debts', 'GST', 'Customer'],
          datasets: [
            {
              label: 'CITY OFFICES',
              data: [30, 45, 20, 50, 25, 30, 60, 70],
              backgroundColor: [
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384',
                '#FF6384'
              ]
            },
            {
              label: 'HEALTH',
              data: [15, 20, 30, 15, 40, 25, 30, 20],
              backgroundColor: [
                '#E53935',
                '#E53935',
                '#E53935',
                '#E53935',
                '#E53935',
                '#E53935',
                '#E53935',
                '#E53935'
              ]
            },
            {
              label: 'TOURISM',
              data: [40, 25, 40, 30, 65, 40, 40, 50],
              backgroundColor: [
                '#00ACC1',
                '#00ACC1',
                '#00ACC1',
                '#00ACC1',
                '#00ACC1',
                '#00ACC1',
                '#00ACC1',
                '#00ACC1'
              ]
            }
          ]
        }
      }
    }
  }
</script>