<template>
  <v-flex xs12>
    <v-card flat>
      <v-tabs 
        fixed-tabs
        show-arrows
        slider-color="yellow">
        <v-tab ripple v-for="item in items" :key="item.index">
        {{ item.title }}
        </v-tab>
        <v-tab-item  v-for="item in items" :key="item.index" height="400px">
          <v-flex v-if="item.title === 'stock'">
            <stock></stock>
          </v-flex>
          <v-flex v-else-if="item.title === 'purchase Order'">
            <purchaseOrder></purchaseOrder>
          </v-flex>
          <v-flex v-else-if="item.title === 'sales Order'">
            <salesOrder></salesOrder>
          </v-flex>
          <v-flex v-else>
            <deliveryNotes></deliveryNotes>
          </v-flex>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  data () {
    return {
      items: [
        {
          title: 'stock'
        },
        {
          title: 'purchase Order'
        },
        {
          title: 'sales Order'
        },
        {
          title: 'delivery Notes'
        }
      ]
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>