<template>
  <v-flex xs12>
    <v-card flat>
      <v-tabs 
        fixed-tabs
        show-arrows
        slider-color="yellow">
        <v-tab ripple v-for="(item, index) in items" :key="item.index">
        {{ item.title }}
        </v-tab>
        <v-tab-item  v-for="(item, index) in items" :key="item.index" height="400px">
          <v-flex v-if="item.title === 'Accounting'">
            <accounting></accounting>
          </v-flex>
          <v-flex v-else-if="item.title === 'Sales'">
            <sales></sales>
          </v-flex>
          <v-flex v-else-if="item.title === 'Purchasing'">
            <purchasing></purchasing>
          </v-flex>
          <v-flex v-else>
            <logistics></logistics>
          </v-flex>
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  data () {
    return {
      hover: false,
      items: [
        {
          title: 'Accounting'
        },
        {
          title: 'Sales'
        },
        {
          title: 'Purchasing'
        },
        {
          title: 'Logistics'
        }
      ]
    }
  }
}
</script>
<style lang="stylus" scoped>
</style>