<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex xs12 sm6 md6 lg6 offset-xs-1
        v-for="(card, index) in cards" :key="card.index"
        class="mt-5 mb-4 pl-5 pr-5">
        <v-flex >
          <v-card
            :hover="!hover">
            <v-layout row
              class="pl-4 pr-4">
              <v-flex xs2>
                <v-card-media
                  class="img_view"
                  contain
                  height="110px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs10>
                <v-card-title class="headline teal--text">{{ card.title}}</v-card-title>
                <v-card-text class="subheader">{{ card.text }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      hover: false,
      items: [
        {
          title: 'Accounting'
        },
        {
          title: 'Sales'
        },
        {
          title: 'Purchasing'
        }
      ],
      cards: [
        {
          title: 'Profit And Loss',
          text: 'See your net income and breakdown of revenues, costs and expenses.',
          src: require('@/assets/profit.png')
        },
        {
          title: 'General Ledger',
          text: 'See your complete record of financial trnsactions.',
          src: require('@/assets/ledger.png')
        },
        {
          title: 'RVAT Report',
          text: 'See your closed RVAT periods and generate a report for RVAT filing.',
          src: require('@/assets/file.png')
        },
        {
          title: 'Balance Sheet',
          text: 'See the financial balance of the company',
          src: require('@/assets/balance.png')
        },
        {
          title: 'Trial Balance',
          text: 'See the balance of all the general ledger accounts',
          src: require('@/assets/trial.png')
        }
      ]
    }
  }
}
</script>
<atyle>
.img_view
  width 100px

</atyle>