<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex xs12 sm6 md6 lg6
        v-for="(card, index) in cards" :key="card.index"
        class="mt-5 mb-4 pl-5 pr-5">
        <v-flex>
          <v-card :hover="!hover">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs2>
                <v-card-media
                  class="img_view"
                  contain
                  height="120px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs10>
                <v-card-title class="headline teal--text mt-2">{{ card.title}}</v-card-title>
                <v-card-text>{{ card.text }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      hover: false,
      cards: [
        {
          title: 'Freight Quote and Freight Cost',
          text: 'See the Carrier and carrier with faster transit time',
          src: require('@/assets/logistics.png')
        },
        {
          title: 'Freight Invoice',
          text: 'See A bill rendered by a carrier to a consignee of freight and containing an identifying description of the freight, the name of the shipper, the point of origin of the shipment, its weight, and the amount of charges.',
          src: require('@/assets/logistics.png')
        },
        {
          title: 'Freight and Transportation Invoice Auditing',
          text: 'See transportation auditing for accuracy.',
          src: require('@/assets/logistics.png')
        },
        {
          title: 'Freight Payment',
          text: 'See collection of processes that can be thought of in general terms as an accounts payable service for transportation invoices.',
          src: require('@/assets/logistics.png')
        }
      ]
    }
  }
}
</script>
<atyle>
.img_view
  width 100px
</atyle>