<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex xs12 sm6 md6 lg6
        v-for="(card, index) in cards" :key="card.index"
        class="mt-5 mb-4 pl-5 pr-5">
        <v-flex>
          <v-card :hover="!hover">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs2>
                <v-card-media
                  class="img_view"
                  contain
                  height="130px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs10>
                <v-card-title class="headline teal--text mt-2">{{ card.title}}</v-card-title>
                <v-card-text>{{ card.text }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      hover: false,
      cards: [
        {
          title: 'Purchase Order',
          text: 'A buyer-generated document that authorizes a purchase transaction.',
          src: require('@/assets/purchasing.png')
        },
        {
          title: 'Procurement',
          text: 'The process includes preparation and processing of a demand as well as the end receipt and approval of payment.',
          src: require('@/assets/purchasing.png')
        },
        {
          title: 'Cost and Freight (C & F)',
          text: 'A buyer-generated document that authorizes a purchase transaction.',
          src: require('@/assets/purchasing.png')
        },
        {
          title: 'Cash Against Documents (CAD)',
          text: 'A payment arrangement in which an exporter instructs a bank to hand over shipping and title documents',
          src: require('@/assets/purchasing.png')
        }
      ]
    }
  }
}
</script>
<atyle>
.img_view
  width 100px
</atyle>