<template>
  <v-container>
    <v-layout row wrap justify-center>
      <v-flex xs12 sm6 md6 lg6
        v-for="(card, index) in cards" :key="card.index"
        class="mt-5 mb-4 pl-5 pr-5">
        <v-flex>
          <v-card :hover="!hover">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs2>
                <v-card-media
                  class="img_view"
                  contain
                  height="80px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs10>
                <v-card-title class="headline teal--text mt-2">{{ card.title}}</v-card-title>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      hover: false,
      cards: [
        {
          title: 'Customer Statement',
          src: require('@/assets/chart.png')
        },
        {
          title: 'A/R Aging Receivable Reports',
          src: require('@/assets/chart.png')
        },
        {
          title: 'Corrupted Reports',
          src: require('@/assets/chart.png')
        },
        {
          title: 'Vague Reports ',
          src: require('@/assets/chart.png')
        }
      ]
    }
  }
}
</script>
<atyle>
.img_view
  width 100px
</atyle>