<template>
<v-container>
    <v-layout row wrap
        class="mt-4 justify-center align-center">
        <v-flex xs12 sm6 md6
          v-for="(card, index) in cards"
          v-bind="{ [`lg${card.flex}`]: true }"
          :key="card.index"
          class="mt-2 mb-4 pl-1 pr-1">
          <v-card
            :color="card.color"
            hover
           class="card_view">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs5>
                <v-card-media
                  contain
                  height="90px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs7>
                <v-card-title
                  class="title teal--text pl-1">{{ card.title }}</v-card-title>
                <v-card-text>{{ card.text }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
    </v-layout>
    <v-layout row wrap
        class="mt-4 justify-center align-center">
        <v-flex xs12 sm6 md6
          v-for="(card, index) in cards2"
          v-bind="{ [`lg${card.flex}`]: true }"
          :key="card.index"
          class="mt-2 mb-4 pl-1 pr-1">
          <v-card
            :color="card.color"
            hover
           class="card_view">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs5>
                <v-card-media
                  contain
                  height="90px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs7>
                <v-card-title
                  class="title teal--text pl-1">{{ card.title }}</v-card-title>
                <v-card-text>{{ card.text }}</v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
    </v-layout>
</v-container>
</template>
<script>
export default {
  data () {
    return {
      cards: [
        {
          title: '500.00',
          text: 'assets',
          subtext: 'assets',
          color: 'cyan',
          src: require('@/assets/desktop.png'),
          flex: 2
        },
        {
          title: '289,000',
          text: 'Net Sales',
          subtext: 'assets',
          color: 'blue-grey darken-2',
          src: require('@/assets/money.png'),
          flex: 2
        },
        {
          title: '645,540',
          text: 'Income',
          subtext: 'assets',
          color: 'purple',
          src: require('@/assets/income.png'),
          flex: 2
        }
      ],
      cards2: [
        {
          title: '200.00',
          text: 'assets',
          subtext: 'assets',
          color: 'cyan',
          src: require('@/assets/desktop.png'),
          flex: 2
        },
        {
          title: '289,000',
          text: 'Net Sales',
          subtext: 'assets',
          color: 'blue-grey darken-2',
          src: require('@/assets/money.png'),
          flex: 2
        },
        {
          title: '645,540',
          text: 'Income',
          subtext: 'assets',
          color: 'purple',
          src: require('@/assets/income.png'),
          flex: 2
        }
      ]
    }
  }
}
</script>
