<template>
  <div
    id="e3"
    style="max-width: 1000px; margin: auto;"
    class="grey lighten-3"
  >

    <v-card>
      <v-container
        fluid
        style="min-height: 0;"
        grid-list-lg
      >
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
      <v-toolbar-title class="grey--text">Apps</v-toolbar-title><br>
        <v-layout row wrap>
          <v-flex d-flex xs12 sm6 md6>
            <v-card color="red darken-2" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">Stock and Inventory Simple</div>
                      <div>Suitable for business or home use. </div>
                    </div><br>
                  <v-card-actions>
                    <v-btn flat dark>Try now</v-btn>
                  </v-card-actions>
                  </v-flex>
                  <v-flex xs5>
                    <img src="@/assets/55.png" alt="logo" height="150px">
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm6 md6>
            <v-card color="orange" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">Stock Controller - inventories</div>
                      <div>Suitable for business or home use. </div>
                    </div><br>
                  <v-card-actions>
                    <v-btn flat dark>Try now</v-btn>
                  </v-card-actions>
                  </v-flex>
                  <v-flex xs5>
                    <img src="@/assets/22.png" alt="logo" height="150px">
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm6 md6>
            <v-card color="indigo darken-1" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">TapPOS Inventory Sales Free</div>
                      <div>Suitable for business or home use. </div>
                    </div><br>
                  <v-card-actions>
                    <v-btn flat dark>Try now</v-btn>
                  </v-card-actions>
                  </v-flex>
                  <v-flex xs5>
                    <img src="@/assets/33.png" alt="logo" height="150px">
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 sm6 md6>
            <v-card color="cyan darken-2" class="white--text">
              <v-container fluid grid-list-lg>
                <v-layout row>
                  <v-flex xs7>
                    <div>
                      <div class="headline">myStock Inventory Manager</div>
                      <div>Suitable for business or home use. </div>
                    </div><br>
                  <v-card-actions>
                    <v-btn flat dark>Try now</v-btn>
                  </v-card-actions>
                  </v-flex>
                  <v-flex xs5>
                    <img src="@/assets/44.png" alt="logo" height="150px">
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        search: ''
      }
    }
  }
</script>