<template>
   <v-navigation-drawer
     app
     :mini-variant.sync="mini"
     v-model="drawer"
     stateless
     hide-overlay
     :clipped-left="clipped">
    <v-toolbar flat class="transparent">
      <v-list class="pa-0">
        <v-list-tile avatar>
            <v-list-tile-avatar class="mt-1">
            <v-toolbar-side-icon large @click.native.stop="mini = !mini"></v-toolbar-side-icon>
            </v-list-tile-avatar>
            <v-list-tile-content class="mt-2 ml-2">
              <v-list-tile-title class="title">LOGO</v-list-tile-title>
            </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click.native.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-list class="pt-0" dense>
      <v-list-tile
        class="mb-3"
        v-for="item in items" :key="item.title" @click="">
        <v-list-tile-action>
          <v-icon medium>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <router-link :to="item.to" style="text-decoration:none;">
          <v-list-tile-content>
            <v-list-tile-title class="text_view">{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </router-link>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
  export default {
    data () {
      return {
        watcher: false,
        clipped: false,
        drawer: true,
        items: [
          {
            title: 'DASHBOARD',
            icon: 'dashboard',
            to: '/'
          },
          {
            title: 'SALES',
            icon: 'streetview',
            to: '/sales'
          },
          {
            title: 'PURCHASING',
            icon: 'receipt',
            to: '/purchasing'
          },
          {
            title: 'INVENTORY',
            icon: 'description',
            to: '/inventory'
          },
          {
            title: 'ACCOUNTING',
            icon: 'account_balance_wallet',
            to: '/accounting'
          },
          {
            title: 'REPORTS',
            icon: 'collections_bookmark',
            to: '/reports'
          },
          {
            title: 'APPS',
            icon: 'apps',
            to: '/apps'
          }
        ],
        mini: true,
        right: null
      }
    }
    // methods: {
    //   eventTriggered: function (state) {
    //     this.drawer = !state
    //   }
    // },
    // created () {
    //   EventBus.$on('navigation-drawer', this.eventTriggered.bind(this))
    // }
  }
</script>
<style lang="stylus" scoped>
.text_view
  font-size small
  font-weight lighter
  color black
  text-decoration none
</style>