```<template>
  <v-flex xs12>
    <v-container>
      <v-layout row wrap
        class="mt-5 justify-center align-center">
        <v-flex xs12 sm6 md6
          v-for="(card, index) in cards"
          v-bind="{ [`lg${card.flex}`]: true }"
          :key="card.index"
          class="mt-2 mb-3 pl-2 pr-2">
          <v-card
            :color="card.color"
            :hover="!hover"
           class="card_view">
            <v-layout row
              class="pl-2 pr-2">
              <v-flex xs5>
                <v-card-media
                  contain
                  height="90px"
                  :src="card.src">
                </v-card-media>
              </v-flex>
              <v-flex xs7>
                <v-card-text>{{ card.text }}</v-card-text>
                <v-card-title class="title teal--text pl-1">{{ card.title }}</v-card-title> 
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-jumbotron color="white">
      <v-container fill-height>
        <v-layout align-center>
          <v-flex><center>
            <h3 class="display-3">Purchase Now!</h3>
            <span class="subheading">Lorem ipsum dolor sit amet, pri veniam forensibus id. Vis maluisset molestiae id, ad semper lobortis cum. At impetus detraxit incorrupte usu, repudiare assueverit ex eum, ne nam essent vocent admodum.</span>
            <v-divider class="my-3"></v-divider>
            <div class="title mb-3">Check out our newest Products!</div>
            <Purchasing2></Purchasing2>
            </center>
          </v-flex>
        </v-layout>
      </v-container>
    </v-jumbotron>
  </v-flex>
</template>
<script>
export default {
  data () {
    return {
      time: '11:15',
      hover: false,
      title: 'Welcome, Admin',
      text: 'Hr. Manager',
      cards: [
        {
          title: '6,758',
          text: 'Debts',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/money.png'),
          flex: 2
        },
        {
          title: '29,000',
          text: 'Receivable',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/chart.png'),
          flex: 2
        },
        {
          title: '645,540',
          text: 'Income',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/income.png'),
          flex: 2
        },
        {
          title: '323,888',
          text: 'Expenses',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/expense.png'),
          flex: 2
        },
        {
          title: '289,000',
          text: 'Sales',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/money.png'),
          flex: 2
        },
        {
          title: '500.00',
          text: 'assets',
          subtext: 'assets',
          color: 'white',
          src: require('@/assets/desktop.png'),
          flex: 2
        }
      ]
    }
  }
}
</script>
 <!--  Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.card_view
  border-radius 4px

</style>
```