<template>
  <v-toolbar
    dense
    flat
    app
    :clipped-left="clipped"
    color="cyan"
    dark>
    <v-toolbar-title v-text="title" class="subheading"></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn icon>
        <v-icon meduim>message</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon meduim>notifications</v-icon>
      </v-btn icon>
      <v-menu offset-y>
        <v-toolbar-title slot="activator" class="pt-2">
          <v-btn flat>
            <small class="upper_view mt-1 pr-2">Admin</small>
            <v-icon>person</v-icon>
            <v-icon dark>arrow_drop_down</v-icon>
          </v-btn>
        </v-toolbar-title>
        <v-list>
          <v-list-tile v-for="item in items" :key="item" @click="">
            <v-list-tile-title class="caption" v-text="item"></v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>
<script>
export default {
  data () {
    return {
      message: false,
      menu: false,
      choice: 'List of Members',
      isVisible: false,
      mini: true,
      miniVariant: false,
      clipped: false,
      drawer: true,
      fixed: false,
      title: 'ACCOUNTING SYSTEM',
      menus: [
        {
          menu: 'Filter'
        }
      ],
      items: [ 'LOG OUT', 'Settings' ]
      // drawer: 'navigation-drawer'
    }
  }
  // methods: {
  //   drawerFunction () {
  //     DEFAULT_EVENT.$emit(this.drawer, true)
  //   }
  // }
}
</script>
<style lang="stylus" scoped>
.headline
  font-family sans-serif

.upper_view
  text-transform capitalize
  font-weight normal
  font-size small
</style>